<!DOCTYPE html>
<html>
<head>
	<title>Web Chat</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	  <nav>
	    <div class="nav-wrapper grey darken-1">
	      <a href="#" class="brand-logo">Chat - @cattalinacst</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="#">Channels</a></li>
	        <li><a href="#">Settings</a></li>
	        <li><a href="#">Logout</a></li>
	      </ul>
	    </div>
	  </nav>

    <!-- Page Layout here -->
    <div class="row">
      <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
      	<div style="overflow: auto;">
      		<div class="card-panel blue-grey lighten-4">
			      <table class="highlight">
			        <thead>
			          <tr>
									<th>Channel</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>Games</td>
			          </tr>
			          <tr>
			            <td>University</td>
			          </tr>
			          <tr>
			            <td>Friends</td>
			          </tr>
			        </tbody>
			      </table>
      		</div>
      	</div>
      	<div class="card-panel blue-grey lighten-4">
		      <table class="highlight">
		        <thead>
		          <tr>
								<th>Users Online</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>cattalina</td>
		          </tr>
		          <tr>
		            <td>h3ct0rjs</td>
		          </tr>
		          <tr>
		            <td>juanjo</td>
		          </tr>
		        </tbody>
		      </table>
      	</div>
      </div>
      <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
      	<div style="height: 500px;">
      		<div class="card-panel blue-grey lighten-3">Chat with <strong>h3ct0rjs</strong></div>
      		<textarea id="chat" readonly="readonly" cols="80" rows="20" style="resize: none; height: 27rem;"></textarea>
      	</div>
		    <div class="row">
	        <div class="row">
	        	<div class="col s12 l7">
	        		<input id="text" type="text" placeholder="Write here...">
	        	</div>
	        </div>		     
		    </div>
      </div>
    </div>
</body>
</html>